/* VARIABLES */

$colorRojo: rgba(240, 48, 48, 0.936);
$colorNegro:black;
$colorDeFondo:#e8dcdcfe;
$colorBlanco: white;
$colorGold:rgba(191, 172, 30, 0.953);
$colorNaranja:rgba(232, 96, 12, 0.923);

/* FIN VARIABLES */