/* INICIO MAIN CONTACTO */

.iconos {

    font-size: 40px;
    list-style: none;
}




    .bajandoElFooter{
    
        @media (min-height: 832px) {
        position: fixed;
        bottom: 0;
        width:100%;
    }
}


/* FIN MAIN CONTACTO */