@import "_colores";


/* MAIN DEL SERVICIOS */



.paddingServicios {
    padding: 15px;
}


.animacionAparecer {
    animation-duration: 1.5s;
    animation-name: aparecer;
}



main {
    article {
        font-size: 18px;
        a {
            text-decoration: none;
            color: $colorRojo;
            font-size: 22px;
        }
    }
}


@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* FIN DEL MAIN DE SERVICIOS */