@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}


@import "_headerEstilo";

@import "_footerEstilo";

@import "_homeEstilo";

@import "_nosotrosEstilo";

@import "_serviciosEstilo";

@import "_contactoEstilo";


/* Color de Fondo General*/

.fondoMainGeneral {
    background-color: $colorDeFondo !important;
}